:root {
  --bg-primary: #1a1a1e;
  --bg-secondary: #f15922;
  --bg-gray: #1a1a1a;
  --bg-dark: #1b1b1b;
  --bg-light: #2e2e2e;
  --bg-danger: #f91f3b;
  --bg-success: #3b413d;
  --bg-dim: #15191f;

  --hv-bg-primary: #2e2e2e;
  --hv-bg-secondary: #f15933;
  --hv-bg-gray: #1f1f1f;
  --hv-bg-success: #4d4c4a;

  --cl-primary: #f25911;
  --cl-secondary: #3b3ic3a;
  --cl-gray: #5a5950;
  --cl-author: #C8B2B4;
  --cl-username: #9FB2C3;

  --hv-cl-light: #667a6b;
}

